body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #222323;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  overflow-x: hidden;
}

.container1 {
  background-color: #222323;
  z-index: 5;
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100vw;

}

.photo {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-image: url("shubh.jpg");
  background-position: center;
  background-size: cover;
  margin: 25px auto;
  margin-top: 150px;
  flex-shrink: 0;
  display: flex;

}

.line {
  width: 150px;
  height: 1px;
  background-color: #C00202;
  margin: 30px auto;
}

.iconsbox {
  margin: 0 auto;

}

i {
  margin: 30px;
  color: white;
  transition: 0.6s;
}

i:hover {
  color: #C00202;
}

a {
  text-decoration: none;
}

.intro {
  margin: auto;
  display: inline-block;
  display: flex;
}

.intro h1 {
  font-size: 65px;
  font-weight: 400;
  overflow: hidden;
  border-right: 5px solid #C00202;
  white-space: nowrap;
  margin: 30px auto;
  letter-spacing: 0px;
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #C00202; }
}

.description {
  font-size: 25px;
  font-weight: 300;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
}

.aboutMe {
  font-size: 50px;
  font-weight: 400;
}

.line2 {
  width: 50px;
  height: 1px;
  background-color: #C00202;
  margin: 10px auto;
}

.summary {
  font-weight: 300;
  margin: 25px auto;
}

.skills {
  margin: 75px auto;
}

.toolboxHeader {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 75px;
}

.languages {
  padding: 20px 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  display: inline-block;
  background-color: #222323;
  margin: 10px 20px;
  min-width: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.letsChat {
  font-weight: 300;
  font-size: 50px;
}
.contactContainer {
  display: inline-block;
}

.phoneContainer {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.emailContainer {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
